---
layout: page
title: AI policy
hero_sub: Our policy on the use of artificial intelligence (AI)
---

<section class="section">
  <div class="container">
    <div class="prose">

      <p>We want to protect the joy, goodwill, and volunteer time of the maintainers and contributors of the Python Calendaring Ecosystem (PCE). As such, we take a strong stance against artificial intelligence (AI) abuse.</p>
      <p>Contributors to PCE must follow PCE's AI policy as described in this section and its subsections.</p>

      {% include heading.html title="Responsible AI use" %}
      <p>You may responsibly use AI as a tool to draft a pull request. That means you must comply with pull request requirements as defined by each project and follow PCE's <a href="/code-of-conduct">Code of Conduct</a>.</p>
      <p>If you use AI in your work:</p>
      <ul>
        <li>You must take responsibility for the output, including reviewing and validating the output for accuracy and ensuring it resolves an issue.</li>
        <li>You must check the AI's terms of use, and ensure that outputs are not reconstructed from copyrighted sources.</li>
        <li>You are expected to understand and be able to explain design and code decisions.</li>
        <li>In your git commit messages, you must specify both (1) which AI model and version you used, and (2) how you used it, by either including the prompts and interactions you used or summarizing them.</li>
        <li>You must disclose that you used AI in your change log entry.</li>
        <li>You shall be held accountable for your AI-generated content.</li>
      </ul>

      {% include heading.html title="AI abuse" %}
      <p>You may not abuse AI to generate a pull request that is disruptive to the PCE community or does not adhere to <a href="#responsible-ai-use">responsible AI use</a> described in the previous section.
        Examples of such abuse and irresponsible use include the following actions.</p>
      <ul>
        <li>You claim no responsibility for the output of AI generated content.</li>
        <li>Your pull request demonstrates no understanding or thought whatsoever to solve an issue.</li>
        <li>Your pull request plagiarizes copyrighted or other material to which you have no legal claim.</li>
        <li>You ignore or don't respond to feedback.</li>
        <li>The GitHub account is itself an AI agent.</li>
      </ul>

      {% include heading.html title="Report suspected violations" id="report-violations" %}
      <p>To report a suspected violation of this AI policy, see the <a href="/code-of-conduct#reporting-an-issue">Reporting an Issue</a> section in the Code of Conduct.
        The maintainers may close pull requests without providing feedback that they deem to be spam, AI slop, or abuse.
        The maintainers may also take further action, including suspend, ban, or report GitHub users, as described in PCE's <a href="/code-of-conduct">Code of Conduct</a>.</p>

    </div>
  </div>
</section>
